
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}


body{
    width: 100%;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)0.3s;
    transform: translateX(189deg);

}

header{
    width: 100%;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.logo h2{
    color: #005DA0;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;


}

.menu ul{
    display: flex;
    align-items: center;

}

.menu li{
    padding-left: 30px;
}


.menu li a{
    color: #005DA0;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu a:hover{
    background-color: rgba(128, 128, 128, 0.11);
    outline: rgba(128, 128, 128, 0.11) 8px solid;
    border-radius: 12px;
    transition: cubic-bezier(0.86, 0, 0.07, 1)0.3s;
}

.language{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.language img{
    width: 45px;
    height: 45px;
    border-radius: 16px;
    cursor: pointer;
}

.language img:hover{
    outline: rgba(128, 128, 128, 0.11) 8px solid;
    border-radius: 12px;
    transition: cubic-bezier(0.86, 0, 0.07, 1)0.3s;
}

.dark_ligh_theme{
    width: 70px;
    height: 31px;
    background-color: black;
    border-radius: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    
}

.dark_ligh_theme:hover{
    outline: rgba(128, 128, 128, 0.11) 8px solid;
    border-radius: 12px;
    transition: cubic-bezier(0.86, 0, 0.07, 1)0.3s;
}

.theme_cicle{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    margin-left: 8px;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.about_me_card{
    width: 1100px;
    padding: 30px;
    border-radius: 8px;
    background: #026FBD;
    box-shadow: 35px 35px 4px 0px rgba(11, 21, 244, 0.25);
    margin: 30px;

}

.about_me_card_itens{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.c1{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin-right: 15px;
    flex-wrap: wrap;
}

.c2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #005DA0;
    margin-right: 15px;
    flex-wrap: wrap;
}

.c3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #0B0145;
}

.decorations_circles{
    display: flex;
}

.informations{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
}



.text_area h1{
    color: #FFF;
    font-family: Poppins;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.text_area h2{
    color: #FFF;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.text_area h3{
    color: #FFF;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.links_area{
    display: flex;
    justify-content: space-between;
    
}


.social_link{
    width: 55px;
    height: 55px;
    background-color: #005DA0;
    border-radius: 50%;    
    
}

.social_link:hover{
    background-color: #024372;
    cursor: pointer;
}

.photo img{
    border-radius: 50%;
    width: 270px;
    height: 270px;
}

/*------------------------------Sobre mim---------------------------------------------------*/

.container{
    background-color: transparent;
    box-shadow: 15px 15px 4px 0px rgba(11, 21, 244, 0.25);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid #BDBDBD;
    max-width: 900px;
    margin: 180px 40px 180px 40px;
}

/*-----------------------Imagens-------------------------------------------- */


.banner img{
    margin-bottom: -40px;
    width: 100%;
    height: 312px;
    border-radius: 8px 8px 0px 0px;
}


.fds{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.profile-pic img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    outline: 8px white solid;
    
}

/*-----------------------Imagens-------------------------------------------- */

.material-symbols-outlined{
    color: #2965F1;
}

.emblems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
    
}

.js{
    width: 55px;
    height: 55px;
    background: #F16529;
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: center;

}

.js:nth-child(2){
    background: #2965F1;
}

.js:nth-child(3){
    background: #FBD725;
}

.js:nth-child(4){
    background: #BC1B1F;
}


.js img{
    width: 35px;
    height: 35px;
}

.follow-button{
    width: 141px;
    height: 40px;
    border-radius: 16px;
    background: #026FBD;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.follow-button:hover{
    background-color: #03395f;;    
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275)0.3s;
}

.follow-button h3{
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*-----------------------Informações-------------------------------------------- */


.about{
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.about h2{
    color: #090909;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about ul{
    display: flex;
    flex-wrap: wrap;
}

.about li{
    color: #7D7C7C;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-me{
    display: flex;
    
}

.about-me p{
    color: #7D7C7C;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
}



.section2{
    display: flex;
    justify-content: center;
}

/*-----------------------Parte dos seguidores--------------------------------------- */


.following{
    display: flex;
    align-items: center;
    padding-right: 20px;
    cursor: pointer;
}



.following h3{
    color: #026FBD;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 5px;
}

.following h4{
    color: #7D7C7C;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.followers{
    display: flex;
    cursor: pointer;
    align-items: center;
}

.followers h4{
    color: #7D7C7C;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.followers h3{
    color: #026FBD;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 5px;

}

.follows{
    display: flex;
    flex-direction: row;
}

/*-----------------------Parte dos seguidores--------------------------------------- */


.about2 p{
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 2;
}

/*-----------------------Informações-------------------------------------------- */

/*-----------------------SAC--------------------------------------- */


.accordion:nth-child(1){
    display: flex;
    align-items: center;
    border-top: 2px #005DA0 solid;
    margin-top: 30px;
    justify-content: space-between;
}

.accordion{
    display: flex;
    align-items: center;
    border-top: 2px #005DA0 solid;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-pic{
    display: flex;
    padding: 12px 0px 12px 0px;
    margin-left: 35px;
    align-items: center;
}

.accordion-pic img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 8px;
}

/*----Nome----*/


.accordion-text h2{
    color: #090909;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*----Pergunta----*/

.accordion-text h3{
    color: #7D7C7C;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*----Botão accordion----*/

.accordion-open-button, .accordion-open-button2, .accordion-open-button3, .accordion-open-button4, .accordion-open-button5 {
    width: 50px;
    height: 50px;
    background-color: #005DA0;
    border-radius: 50%;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.accordion-open-button:hover, .accordion-open-button2:hover, .accordion-open-button3:hover, .accordion-open-button4:hover, .accordion-open-button5:hover{

    background-color: #033253;;    
}

.accordion-open-button, .accordion-open-button2, .accordion-open-button3, .accordion-open-button4, .accordion-open-button5{
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transform: rotate(90deg);
    cursor: pointer;
}

.accordion-open-button.open, .accordion-open-button2.open, .accordion-open-button3.open, .accordion-open-button4.open, .accordion-open-button5.open{

    transform: rotate(-90deg);
}

/*----Conteúdo do accordion fechado----*/


.accordion-content, .accordion-content2, .accordion-content3, .accordion-content4, .accordion-content5{
    display: none;
}

/*----Conteúdo do accordion aberto----*/


.accordion-content.open, .accordion-content2.open, .accordion-content3.open, .accordion-content4.open, .accordion-content5.open{
    display: flex;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px 15px 15px 15px;
    text-align: justify;
}

/*-----------------------SAC-------------------------------- */


.more_languages{
    height: 150px;
    width: 80px;
    background-color: transparent;
    display: none;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0px rgb(0, 0, 0, 0.1);
    display: none;
    align-items: center;
    flex-direction: column;
    
}

#eua{
    margin-top: 15px;
}

#spn{
    padding-top: 15px;
}

.more_languages.active{
    display: flex;
    position: absolute;
    
}



/* ----------------------------Modo dark---------------------------- */

body.dark{
    background: #1C1C1C;
    
}

.dark_ligh_theme.dark{
    background: #026FBD;
    border-radius: 16px;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;

}

.dark_ligh_theme.dark:hover{
    outline: rgba(128, 128, 128, 0.11) 8px solid;
    border-radius: 12px;
    transition: cubic-bezier(0.86, 0, 0.07, 1)0.3s;
}


.theme_cicle.dark{
    background: #FBD725;
    border-radius: 50%;
    margin-right: 8px;
    
}

.menu.dark{
    color: #000;
}

.container.dark li,  .container.dark h4, .container.dark .profile-pic img{
    color: #aaa;
    outline: rgb(28, 28, 28);
}

.container.dark h2, .container.dark p, .container.dark h3{
    color: white;
}

.menu-hamburguer{
    display: none;
}

/* ----------------------------Modo dark---------------------------- */

/* ----------------------------Responsividade---------------------------- */


@media (max-width: 800px){
    .menu{
        display: none;

    }

    nav{
        justify-content:space-between;

    }

    .menu-hamburguer{
        display: flex;
    }



@media (max-width: 400px){

    .about_me_card{
         
        padding: 30px;   
    }

    .text_area{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   

    .about_me_card h3{
        font-size: 14px;
    }

    .about_me_card h2{
        font-size: 15px;
    }

    .about_me_card h1{
        font-size: 20px;
        text-align: center;
    }


    
    .about_me_card_itens{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
    }
    
    .c1{
        width: 10px;
        height: 10px;
    }
    
    .c2{
        width: 10px;
        height: 10px;
    }
    
    .c3{
        width: 10px;
        height: 10px;
    }
    
   
    
    .informations{
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
    }
    
    
    .links_area{
        display: flex;
        justify-content: space-between;
        
    }
    
    
    .social_link{
        width: 35px;
        height: 35px; 
     
    }
    
    .social_link:hover{
        background-color: #024372;
        cursor: pointer;
    }
    
    .photo img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }

    .container{
        display: flex;
        justify-content: center;
        
        
    }

    .container h2{
        font-size: 25px;
    }

  
    
    .container p{
        font-size: 16px;
    }

    .accordion-pic{
        margin: 0;
        width: 100%;
        justify-content: center;
    }

    .profile-pic img{
        width: 150px;
        height: 150px;
        
    }

    .accordion-pic img{
        width: 45px;
        height: 45px;

    }
    .accordion-text h2{
        font-size: 17px;

    }
    
    /*----Pergunta----*/
    
    .accordion-text h3{
        font-size: 15px;
        

    }

    .accordion-open-button, .accordion-open-button2, .accordion-open-button3, .accordion-open-button4, .accordion-open-button5{
        width: 30px;
        height: 30px;
        background-color: #005DA0;
        border-radius: 50%;
        margin-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
    }

    .about{
        padding: 0px 30px 0px 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

}

}